<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h1>Form Utente</h1>
	<form action="/utenti/" method="POST">
		<p>Nome:</p>
		<input type="text" id="nome" name="nome">
		<p>Cognome:</p>
		<input type="text" id="cognome" name="cognome">
		<p>Età:</p>
		<input type="text" id="eta" name="eta">
		<p>Indirizzo:</p>
		<input type="text" id="indirizzoResidenza" name="indirizzoResidenza"> 
		<p>Numero di telefono:</p>
		<input type="text" id="numeroTelefono" name="numeroTelefono"> 
		<input type="submit">
	</form>






</body>
</html>